<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="BatchCreationQASuite" verbose="2">
    <parameter name="batchConfigPath" value="raw_batch_config.json"/>
    <parameter name="triggerPoint" value="1"/>
    <test name="test1">
        <classes>
            <class name="com.batch.creation.RawSeg.TC_BC_01"/>
        </classes>
    </test>
    <test name="test2">
        <classes>
            <class name="com.batch.creation.RawSeg.TC_BC_02"/>
        </classes>
    </test>
    <test name="test3">
        <classes>
            <class name="com.batch.creation.RawSeg.TC_BC_03"/>
        </classes>
    </test>
    <test name="test4">
        <classes>
            <class name="com.batch.creation.RawSeg.TC_BC_04"/>
        </classes>
    </test>
    <test name="test5">
        <classes>
            <class name="com.batch.creation.RawSeg.TC_BC_05"/>
        </classes>
    </test>
    <test name="test6">
        <classes>
            <class name="com.batch.creation.RawSeg.TC_BC_06"/>
        </classes>
    </test>
        <test name="test7">
            <classes>
                <class name="com.batch.creation.RawSeg.TC_BC_07"/>
            </classes>
        </test>
        <test name="test8">
            <classes>
                <class name="com.batch.creation.RawSeg.TC_BC_08"/>
            </classes>
        </test>
        <test name="test9">
            <classes>
                <class name="com.batch.creation.RawSeg.TC_BC_09"/>
            </classes>
        </test>
        <test name="test10">
            <classes>
                <class name="com.batch.creation.RawSeg.TC_BC_10"/>
            </classes>
        </test>
        <test name="test11">
            <classes>
                <class name="com.batch.creation.RawSeg.TC_BC_11"/>
            </classes>
        </test>
        <test name="test12">
            <classes>
                <class name="com.batch.creation.RawSeg.TC_BC_12"/>
            </classes>
        </test>
        <test name="test13">
            <classes>
                <class name="com.batch.creation.RawSeg.TC_BC_13"/>
            </classes>
        </test>
        <test name="test14">
            <classes>
                <class name="com.batch.creation.RawSeg.TC_BC_14"/>
            </classes>
        </test>
        <test name="test15">
            <classes>
                <class name="com.batch.creation.RawSeg.TC_BC_15"/>
            </classes>
        </test>
        <test name="test16">
            <classes>
                <class name="com.batch.creation.RawSeg.TC_BC_16"/>
            </classes>
        </test>

    <!--    <test name="test17">-->
    <!--        <classes>-->
    <!--            <class name="com.batch.creation.RawSeg.TC_BC_17"/>-->
    <!--        </classes>-->
    <!--    </test>-->

    <!--    <test name="test18">-->
    <!--        <classes>-->
    <!--            <class name="com.batch.creation.RawSeg.TC_BC_18"/>-->
    <!--        </classes>-->
    <!--    </test>-->

    <!--    <test name="test19">-->
    <!--        <classes>-->
    <!--            <class name="com.batch.creation.RawSeg.TC_BC_19"/>-->
    <!--        </classes>-->
    <!--    </test>-->

    <!--    <test name="test20">-->
    <!--        <classes>-->
    <!--            <class name="com.batch.creation.RawSeg.TC_BC_20"/>-->
    <!--        </classes>-->
    <!--    </test>-->

    <!--    <test name="test21">-->
    <!--        <classes>-->
    <!--            <class name="com.batch.creation.RawSeg.TC_BC_21"/>-->
    <!--        </classes>-->
    <!--    </test>-->

    <!--    <test name="test22">-->
    <!--        <classes>-->
    <!--            <class name="com.batch.creation.RawSeg.TC_BC_22"/>-->
    <!--        </classes>-->
    <!--    </test>-->

    <!--    <test name="test23">-->
    <!--        <classes>-->
    <!--            <class name="com.batch.creation.RawSeg.TC_BC_23"/>-->
    <!--        </classes>-->
    <!--    </test>-->

</suite>
